APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:b+bz3m8xwawp8GZ4qPG1XL3sxzHAPxYA7IbOkb+v9lo=
APP_DEBUG=false
APP_URL=https://your-app.up.railway.app

LOG_CHANNEL=stderr
LOG_LEVEL=error

# Railway ajoutera automatiquement DATABASE_URL si tu utilises le plugin MySQL
# Tu peux aussi définir individuellement :
# DB_HOST, DB_PORT, DB_DATABASE, DB_USERNAME, DB_PASSWORD

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120

QUEUE_CONNECTION=sync

STRIPE_KEY=pk_test_xxx
STRIPE_SECRET_KEY=sk_test_xxx
