@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
  font-family: Space Grotesk, sans-serif;
}
#navbar-default ul li a {
    text-decoration: none; 
   
   }
   

   /* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EE626B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ef3945;
}